<?xml version="1.0" encoding="utf-8"?>

<!--
  Per ulteriori informazioni sulla configurazione dell'applicazione ASP.NET, visitare
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

	<connectionStrings>
		<remove name="DB_ProfWeb30"/>

		<!--DB Sviluppo Office-->
 		<!--
		<add name="DB_ProfWeb30" connectionString="Data Source=MONTALBANO\SQLEXPRESS1901;
													Initial Catalog=MSSql171182;
													Integrated Security=True;
													User Id ='';
													Password = '';
													Connect Timeout=0; 
													Encrypt=False; 
													Packet Size=4096;
													Pooling=False" 
								  providerName="System.Data.SqlClient"/>
		-->
    
		<!--DB Sviluppo Home-->
	
		<add name="DB_ProfWeb30" connectionString="Data Source=VALERIOMCSE\EXPRESS2017;
												Initial Catalog=MSSql171182;
												Integrated Security=True; 
												User Id ='';
												Password = '';
												Connect Timeout=0; 
												Encrypt=False; 
												Packet Size=4096;
												Pooling=False" 
							  providerName="System.Data.SqlClient"/>
								  

		<!--DB Produzione-->
		<!--
		<add name="DB_ProfWeb30" connectionString="Data Source=62.149.153.35; 
												Initial Catalog=MSSql171182; 
												Integrated Security=False; 
												User ID=MSSql171182; 
												Password='85d34268er'; 
												Connect Timeout=0; 
												Encrypt=False; 
												Packet Size=4096;
												Pooling=False" 
								  providerName="System.Data.SqlClient" />
		-->
  
	</connectionStrings>

  <system.web>
    <compilation debug="false" strict="false" explicit="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
	  <customErrors mode="Off"/>
  </system.web>

  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644"/>
      </webServices>
    </scripting>
  </system.web.extensions>

  <system.webServer>
  <!--   --> 
    <rewrite>
      <rules>
        <rule name="HTTP to HTTPS redirect" stopProcessing="true"> 
          <match url="(.*)" /> 
          <conditions> 
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
               
            <add input="{HTTP_HOST}" matchType="Pattern" pattern="^localhost(:\d+)?$" negate="true" />
            <add input="{HTTP_HOST}" matchType="Pattern" pattern="^127\.0\.0\.1(:\d+)?$" negate="true" />

          </conditions> 
          <action type="Redirect" redirectType="Permanent" url="https://{HTTP_HOST}/{R:1}" />
        </rule>   
      </rules>
    </rewrite>
 
    <staticContent>
      <remove fileExtension=".woff2" />
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff2" />
      <mimeMap fileExtension=".json" mimeType="text/plain" />
    </staticContent>
  
  </system.webServer>

</configuration>
